<h1>Turtles</h1>
<div class="jumbotron">
    <img src="@Html.CDN("/Content/Images/Turtle.jpg")" class="main-image" />
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <p>
            Turtles have been around for a very long time. They first emerged some 157 
            million years ago. There are currently 327 known species.
        </p>
        <p>
            Turtles vary widely in size. Leatherback Sea Turtles have been measured at six 
            feet in length with a total weight of over 2,000 pounds. The tiniest species is 
            the speckled padloper tortoise. It is roughly three inches in length and 
            weighs less than a roll of pennies.
        </p>
        <p>
            Turtles defend themselves by withdrawing into their shells. Their shells 
            are made of bone, and are near impenetrable to most predators.
        </p>
        <p>
            A relatively new species of turtles in Manhattan are known to live underground 
            and have become bipedal. While these particular turtles are omnivorous, they've 
            shown a particular fondness for pizza of any type. After forming a symbiotic 
            relationship with a large anthropomorphic rat, these turtles have fashioned an 
            elaborate self-defense mechanism which is much more sophisticated than withdrawing 
            into their shells. With the help of Casey Jones and April O'Neil, these 
            rambunctious tortoises fight crime and defend New York against the Foot Clan.
        </p>
    </div>
</div>
